# 服务器配置
HOST=0.0.0.0
PORT=8000
RELOAD=True

# 视频配置
# 视频代理服务器地址和端口
VIDEO_PROXY_HOST=0.0.0.0
VIDEO_PROXY_PORT=8081

# 视频源
# 直接连接到摄像头：通过索引，例如 0 表示第一个摄像头
# VIDEO_URL=0
# 连接到网络摄像头/IP摄像头
# VIDEO_URL=http://192.168.1.100:81/stream
# 连接到视频代理服务器（推荐）
VIDEO_URL=http://0.0.0.0:8081/mjpeg